body {

    background: #eeeeee;
    color: #323232;
}

.card {
    margin-top: 10px;
    background: #eeeeee ;
}

.backgR {
    height: 80vh;
    width: 100%;
    background-image: url(/src/img/Carrousel/34.jpg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


a {
    text-transform: none !important;
    text-decoration: none !important;
    outline: none !important;
}

#nosotros {
    height: 100vh;
}


#nosotros h1 {
    margin-top: 1em;
    text-align: center;
    color:#323232 ;
}

#nosotros h1 span {

        color: #900d0d;

}
#nosotros hr {

    height: 2px;
    width: 10%;
    text-align: center;
    background: #900d0d;
    border-radius: 7px;

}

#buttn {
    padding-top: 0px;
    font-size: 50px;
    color: #900d0d;
    opacity: .5;
    text-align: center;
    -webkit-transition: 1s ease 0s;

}


.nos{
    text-align: center;
    font-size: 15px;
}


.services {

    text-align: center;
    color: #900d0d;
    font-size: 4em;
    margin: 10px;

}

.card-title {

        
        font-size: 2em;

}


.calltoAction {
    padding-top:10px;
    margin-top: 20px;
    height: 300px;
    background-color: #900d0d; 

}



#signinup {

    
    margin-top: 5%;
    text-align: center;


}



.signup{
    
    padding: 10px;
    display: inline;
    margin: 10px;
    color: #eeeeee;
    border: 1px solid #eeeeee;

}

.signin {
    padding: 10px;
    display: inline;
    margin-top: 10em;
    color: #eeeeee;
    border: 1px solid #eeeeee;
    
}

.signin:hover {
    color: white;
    opacity: .7;

}

.signup:hover {
    color: white;
    opacity: .7;
}

.cthr {
    background: #eeeeee !important;
}


.pmv {

    height: 500px;

}

.contact {

    height: 800px;

}

.maps {

        
        margin-top: 45px;

}



.footer {
    margin-top: 20px;
    height: 200px;

}

.footer a{

    text-align: center;

}

#btn-contc {
    padding: 20px;
    background: #900d0d;
    color: white;
    border: none;
    width: 200px;

}

#brock {
    padding-top: 10px;
    display: block;
    color: white;
    text-align: left;
    margin-left: 5%;
}


.form-group input {

    border-radius: 0;
    padding: 20px;

}



#nosotros {

    text-align: center;

}



#fb:hover {

    opacity: 0.6;

}

#ig:hover{

    opacity: 0.6;
}


@media (max-width: 700px){
    .backgR {
        margin-top: 30px;
        background-size: cover !important;
        height: 50vh;
        background-position: center !important;
    }

    #maps {
        width: 100% !important;
        height: 300px !important;
        margin:0;
    }

}

@media (max-width: 500px) {

    .backgR {
        margin-top: 70px;
        background-size: cover;
        width: 100%;
        height: 20vh;
        background-position: center center;
    }
    #maps {
        width: 100% !important;
        height: 300px !important;
        margin:0;
    }
}

